body{ 
margin:20px;
background-color:#262626;
color:#ff4d01;
font-family:'Open Sans';
}

#logo{
text-align:center;
}

#customink{
float:right;
margin-left:15px;
}


#wholepage{
padding:10px;
font-size:14px;
overflow:hidden;
}
hr{
height:5px;
border:none;
background-color:lime;
}

h1{
color:lime;
font-family:'Shadows Into Light';
margin:0px;
padding:0px;
font-size:60px;
}

h2{
font-family:'Shadows Into Light';
margin:0px;
font-style:italic;
}

#navlinks{
color:lime;
font-weight:bold;
margin-top:0px;
}

footer{
text-align:center;
margin:10px;
}
a{
color:#ff4d01;
text-decoration:none;
}